html {
  font-size: 10px;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 350%;
  text-align: center;
}

footer {
  text-align: center;
  font-size: 100%;
  margin-top: 50px;
  color: gray;
}

svg {
  padding: 5px;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

select {
  font-size: 145%;
  padding: 5px;
  border-radius: 10px;
}

button {
  font-size: 145%;
  padding: 5px 10px;
  border-radius: 6px;
  margin: 10px;
  cursor: pointer;
  position: relative;
  touch-action: manipulation;
  background-color: #fafbfc;
  transition: transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

button:hover {
  background-color: #f0f2f4;
  text-decoration: none;
  transform: scale(1.05);
}

button:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transform: scale(0.95);
}

div#addAndRemove {
  text-align: center;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
  /* Source: https://stackoverflow.com/questions/5533636/add-a-horizontal-scrollbar-to-an-html-table */
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
}

/* Make first column sticky during horizontal scroll */
td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: white;
}

/* HTML: <div class="ribbon">Your text content</div> Thanks https://css-generators.com/ribbon-shapes/*/
.ribbon {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}
.ribbon {
  --f: 0.5em; /* control the folded part */

  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.8;
  padding-inline: 1lh;
  padding-bottom: var(--f);
  border-image: conic-gradient(#0008 0 0) 51% / var(--f);
  clip-path: polygon(
    100% calc(100% - var(--f)),
    100% 100%,
    calc(100% - var(--f)) calc(100% - var(--f)),
    var(--f) calc(100% - var(--f)),
    0 100%,
    0 calc(100% - var(--f)),
    999px calc(100% - var(--f) - 999px),
    calc(100% - 999px) calc(100% - var(--f) - 999px)
  );
  transform: translate(calc((cos(45deg) - 1) * 100%), -100%) rotate(-45deg);
  transform-origin: 100% 100%;
  background-color: #f03118; /* the main color  */
}

.ribbon:hover {
  text-decoration: underline;
}

/*
Source - https://stackoverflow.com/a
Posted by DCR
Retrieved 2026-01-26, License - CC BY-SA 4.0
*/

a {
  text-decoration: none;
}

/* End Source */
