html {
  font-size: 10px;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 350%;
  text-align: center;
}

footer {
  text-align: center;
  font-size: 100%;
  margin-top: 50px;
  color: gray;
}

svg {
  padding: 5px;
}

a {
  color: inherit;
}

select {
  font-size: 145%;
  padding: 5px;
  border-radius: 10px;
}
button {
  font-size: 145%;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px;
}

div#addAndRemove {
  text-align: center;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
}
