html{
    font-size: 10px;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1{
  font-size: 45px;
  text-align: center;
}

footer{
  text-align: center;
  font-size: 14px;
  margin-top: 50px;
  color: gray;
}

svg{
    padding: 5px;
}

a { color: inherit; } 
